<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>
    <rule name="Imported Rule 1" stopProcessing="true">
      <match url="(.*)" ignoreCase="false" />
      <conditions logicalGrouping="MatchAll">
        <add input="{HTTP_HOST}" pattern="" ignoreCase="false" />
        <add input="{HTTP_HOST}" negate="true" pattern="^cloudmouth\.net" ignoreCase="false" />
      </conditions>
      <action type="Redirect" url="http://cloudmouth.net/{R:1}" redirectType="Permanent" />
    </rule>    
    <rule name="extensionless" stopProcessing="true">
          <match url="(.*)\.html$" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
    </rule>
    <rule name="oldblogtonewblog" stopProcessing="true">
          <match url="200[0-9]/[0-9][0-9]/[0-9][0-9]/(.*)/" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
    </rule>    
    <rule name="oldblogtonewblog2" stopProcessing="true">
          <match url="corporate-structures-talk-my-takeaways" />
          <action type="Redirect" url="corporate-structures-talk-takeaways" redirectType="Permanent" />
    </rule>
    <rule name="oldblogtonewblog3" stopProcessing="true">
          <match url="category/windows-azure/" />
          <action type="Redirect" url="tags/#microsoft%20azure" redirectType="Permanent" />
    </rule>
    <rule name="oldblogtonewblog4" stopProcessing="true">
          <match url="category/(.*)\-(.*)/" />
          <action type="Redirect" url="tags/#{R:1}%20{R:2}" redirectType="Permanent" />
    </rule>    
    <rule name="oldblogtonewblog5" stopProcessing="true">
          <match url="category/(.*)/" />
          <action type="Redirect" url="tags/#{R:1}" redirectType="Permanent" />
    </rule>
    <rule name="removeextension" enabled="true">
        <match url=".*" negate="false" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
            </conditions>
            <action type="Rewrite" url="{R:0}.html" />
    </rule>
</rules>
</rewrite>
</system.webServer>
</configuration>